* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --gray: #CCCCCC;
  --white: #fff;
  --blue: #C2E7FF;
  --light: #77B5FE;
  --clear: #77B5FE;
  --red: #ff0000;
}

body{
  background-color: #F6F8FC;
  margin-left: 5%;
  padding: 0;
  min-width: 100vh;
  overflow-x: hidden;
} 

.header{
  display: flex;
  width: 100%;
  height: 80%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 60%;
}
.headerNavigation{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.user{
  width: 40px;
  height: 40px;
}
.title{
  font-size: 25px;
}

.main{
  margin-top: 5%;
  width: 100%;
  display: flex;
}

.main__menu{
  width: 20%;
  /* background-color: red; */
  height: 400px;
}
.main__content{
  width: 80%;
  background-color: var(--white);
  height: 500px;
  border-radius: 3.5%;
}
.main-content-fill{
  width: 100%;
}

.hide-menu{
  position: absolute;
  left: -1000px;
}

/* style pour les boutons */

.addContact{
  width: 60%;
  height: 40px;
  margin-bottom: 8%;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  background: var(--blue);
  gap: 10%;
}
.addContact:hover{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--clear);
  text-decoration: none;
  color: black;
  cursor: pointer;
  box-shadow: 5px 8px 5px rgb(202, 202, 202);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.addContact:focus, .addContact:active{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.contact{
  color: black;
  border: none;
  background: transparent;
  font-family: Product Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.98px;
  text-align: left;
}
.btnContact{
  width: 90%;
  height: 40px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 8%;
  gap: 10%;
}
.btnContact:hover{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--blue);
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.btnContact:focus, .btnContact:active{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.btnFrequent{
  width: 60%;
  height: 40px;
  border-radius: 16px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  gap: 10%;
}
.btnFrequent:hover{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--blue);
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.btnFrequent:focus, .btnFrequent:active{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.frequent{
  text-decoration: none;
  color: black;
}

/* style sur la barre de recherche */

.input-box{
  width: 400%;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 6px;
  margin-left: 10%;
}
.input-box input{
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 15px 0 65px;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.input-box .search{
  position: relative;
  right: 0;
  top: 0;
  height: 100%;
  width: 60px;
  border-radius: 6px 0 0 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search .material-symbols-outlined{
  font-size: 25px;
  color: var(--clear);
}
/* .search{
  width: 190%;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  background: #EEF0F2;

}
.search label{
  background: #EEF0F2;
  display: flex;
  align-items: center;
}
.barreRecherche{
  border: none;
  width: 90%;
  background: transparent;
}
.search:hover{
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: #EEF0F2;
  color: black;
  cursor: pointer;
} */

/* style de la partie main  */

.pageVeriege{
  padding-top: 2%;
  padding-left: 5%;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.accueil{
  width: 25%;
  height: 25%;
  margin: auto;
  padding-top: 8%;
  object-fit: 50%;
  display: flex;
}
.parag{
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.basPhoto{
  display: flex;
  text-align: center;
  padding-left: 35%;
  gap: 8%;
  padding-top: 2.5%;
}
.btnAcueilAddContact{
  width: 20%;
  height: 40px;
  margin-bottom: 8%;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10%;
}
.btnCreer{
  color: rgb(84, 84, 219);
  border: none;
  background: transparent;
  font-family: Product Sans;
  font-size: 14px;
  text-align: left;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}
#basPage{
  color: blue;
}
.btnAcueilAddContact:hover{
  background: var(--blue);
  cursor: pointer;
}

/* style menue berge */

ion-icon:hover{
  cursor: pointer;
  background: gainsboro;
  border-radius: 50%;
}