/* mon header */

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
}

.image{
  width: 24px;
  height: 24px;
}
.navabar-img{
    width: 39px;
    height: 39px;
    gap: 0px;
    opacity: 0px;

}
.navabar-parg{
    font-family: Product Sans;
    font-size: 1.5rem;
    top: 10px;
}

.barreRecherche{
  display: flex;
  align-items: center;
  margin-right: 30%;
  justify-content: end;
}

.btnRecher{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

.navbar-recher{
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color:  white;
}

/* partie menue */

.menue{
  margin-top: 10%;
}

.btnAdd{
  padding-left: 15px;
  width: 15%;
  height: 20%;
}

.btnCree{
  display: flex;
  align-items: center;
  background-color: #C2E7FF;
  border-radius: 20px;
  justify-content: center;
  cursor: pointer;
}

.btnContact{
    background-color: #C2E7FF;
    padding: 14px;
    border: solid 1px #C2E7FF;
    font-size: 14px;
    font-family: Product Sans;
    text-align: end;
    cursor: pointer;
    margin-bottom: 10%;
   
}

.btnCree:hover{
  box-shadow: 10px 10px 10px #CCCCCC;
}

.contactFrequent{
  width: 25%;
  height: 40px;
  background-color: #C2E7FF;
  border-radius: 16px;
  padding: 14px;
  border: solid 1px #C2E7FF;
  font-size: 14px;
  font-family: Product Sans;
  text-align: end;
  cursor: pointer;
  margin-bottom: 10%;
  margin-top: 10%;
}

  .addContact{
    background-color: #C2E7FF;
    text-align: start;
    width: 100%;
    margin-bottom: 10%;
    border: solid 1px #C2E7FF;
  }

  .btn-add:hover{
    background-color: #77B5FE;
  }

  
  .add-frequent{
    text-align: start;
    width: 100%;
    height: 40px;
    background-color: #e3e3e3;
  }

  .add-frequent:hover{
    background-color: #CCCCCC;
    border: solid 1px #CCCCCC;
  }

  .labels{
    left: 20px;
    width: 25%;
    padding-left: 30px;
    
    color: black;
  }
  
  .lib{
    text-decoration: none;
  }

  .bureau{
    color: black;
    padding-left: 80px;
  }

  .fenetre{
    word-spacing: normal;
    width: 15%;
    height: 20%;
    top: 10%;
  }
