.navbar {
    display: flex;
    width: 50px;
    align-items: center;
    gap: 12px;
    /* height: 39px; */

  /* background-color: red;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
  transition: 0,5s;
  margin: 10px 40px 20px; */
    /* width: 100%;
    height: 80px;
    padding-right: 60px;
    padding: 0px 10px;
    display: flex;
    overflow: hidden;
    background-color: #e3e3e3;
    justify-content: space-between; */
  }

  .image{
    width: 24px;
    height: 24px;
  }
.menue{
  margin-top: 10%;
}
  
.navabar-img{
    width: 39px;
    height: 39px;
    gap: 0px;
    opacity: 0px;

}

.navabar-parg{
    font-family: Product Sans;
    font-size: 1.5rem;
    top: 10px;
}

.barreRecherche{
  display: flex;
  align-items: center;
}

.btnRecher{
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

.navbar-recher{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color:  white;
}

  /* .navabar-search{
    margin-bottom: 10%;
    justify-content: space-between;
    flex-direction: row;
  } */

  .btn{
    padding-left: 15px;
    width: 25%;
    
  }

  .btn-add{
    background-color: #C2E7FF;
    width: 160px;
    height: 50px;
    border-radius: 16px;
    top: 87px;
    left: 32px;
    padding: 14px;
    border: solid 1px #C2E7FF;
    font-size: 14px;
    font-family: Product Sans;
    text-align: end;
    cursor: pointer;
    margin-bottom: 10%;
  }

  .add-contact{
    top: 148px;
    left: 32px;
    padding: 10px 14px 10px 14px;
    text-align: start;
    width: 100%;
    height: 40px;
  }

  .btn-add:hover{
    background-color: #77B5FE;
  }

  .contact:hover{
    box-shadow: 10px 10px 10px #CCCCCC;
  }

  .add-frequent{
    text-align: start;
    width: 100%;
    height: 40px;
    background-color: #e3e3e3;
  }

  .add-frequent:hover{
    background-color: #CCCCCC;
    border: solid 1px #CCCCCC;
  }

  .labels{
    left: 20px;
    width: 25%;
    padding-left: 30px;
    
    color: black;
  }
  
  .lib{
    text-decoration: none;
  }

  .bureau{
    color: black;
    padding-left: 80px;
  }

  .fenetre{
    word-spacing: normal;
    width: 15%;
    height: 20%;
    top: 10%;
  }
